<!DOCTYPE html>
<html ng-app="store">
<head>
    <title>Start learning Angular JavaScript</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
</head>
<body>
    <p>{{"Hello" + " Yarl"}}</p>
    <div ng-controller="StoreController as store">
        <h1> {{store.product.name}} </h1>
        <h2> ${{store.product.price}} </h2>
        <p> {{store.product.description}} </p>
        <button ng-show = "store.product.canPurchase">Add to Cart</button>
    </div>
    
    <section ng-controller = "PanelController as panel">
        <ul class = "nav nav-pills">
            <li ng-class="{ active: panel.isSelected(1)}">
                <a href ng-click="panel.selectTab(1)">Description</a>            
            </li>
            <li ng-class="{ active: panel.isSelected(2)}">
                <a href ng-click="panel.selectTab(2)">Spesification</a>            
            </li>
            <li ng-class="{ active: panel.isSelected(3)}">
                <a href ng-click="panel.selectTab(3)">Reviews</a>            
            </li>
        </ul>
        
        <div class="panel" ng-show="panel.isSelected(1)">
            <h4>Description</h4>
            <p>{{product.description}}</p>
        </div>
        
    </section>
    
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>    
</html>